@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #151518;
    font-family: 'Roboto', sans-serif;
}

nav#menu {
    width: 270px;

    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

#menu li {
    display: inline-block;

    padding: 10px;
}

#menu a {
    font-family: 'Encode Sans', sans-serif;
    font-size: 18px;

    color: #FFFFFF;

    text-decoration: none;

    transform: scale(0.9);
}

#menu a:hover {
    color: #ff234b;

    transform: scale(1);
}

#princ {
    width: 80%;
    margin: auto;

    font-family: 'Encode Sans', sans-serif;

    text-align: left;
}

#princ h1 {
    color: #FFFFFF;

    margin-top: 40px;
    margin-bottom: 10px;

    font-family: 'Encode Sans', sans-serif;
    font-size: 46px;
    font-weight: 600;
}

#princ span {
    color: #ff234b
}

#princ p {
    color: #FFFFFF;

    font-family: 'Encode Sans', sans-serif;

    margin-bottom: 50px;
}

#princ a {
    color: #FFFFFF;

    padding: 12px;
    padding-left: 60px;
    padding-right: 60px;

    font-size: 18px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;

    text-decoration: none;

    border-radius: 29px;
    background-color: #ff234b;

    box-shadow: 0px 0px 5px 1px #ff234b;
}

#princ a:hover {
    font-size: 20;
}

div#infos {
    width: 80%;

    margin: auto;
    margin-top: 50px;;
}

div#infos img {
    width: 75px;
}

div.icons {
    display: flex;

    margin-top: 10px;
    margin-bottom: 25px;
}

div.icons p {
    color: white;

    font-size: 20px;
    font-weight: 600;

    margin-left: 20px;
}

div.icons span {
    font-size: 18px;
    font-weight: normal;
}

div.icons img {
    transform: scale(0.9);
    box-shadow: 0px 0px 5px 1px #FFFFFF;
    border-radius: 50%;
}

div.icons img:hover {
    transition: 0.3s;
    transform: scale(1);
}

hr {
    width: 80%;

    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

div#planos {
    width: 100%;
    
    font-family: 'Lato', sans-serif;
    margin: auto;
}

div#planos h2 {
    color: white;

    margin-bottom: 10px;

    font-size: 36px;

    text-align: center;
}

div#planos span {
    color: #ff234b;
}

div#planos p {
    color: #FFFFFF;

    text-align: center;
    
    margin-bottom: 30px;
}

div#pre-coluna {
    width: 990px;

    display: flex;
    
    margin: auto;
}

div.coluna {
    width: 33.333%;


    border-radius: 29px;

    padding: 20px;

    margin: 10px;
}

div.coluna h3 {
    color: #ff234b;

    padding: 20px;
    padding-top: 0px;
    padding-bottom: 20px;

    text-align: center;

    font-size: 35px;
    font-weight: 600;
}

div.coluna h4 {
    color: #FFFFFF;

    text-align: center;

    font-size: 35px;
    font-weight: 600;

    padding: 10px;
    padding-bottom: 40px;

    border-bottom: 1px solid white;

    margin-bottom: 30px;
}

div.coluna ul {
    list-style: none;
    margin-bottom: 50px;
}

div.coluna li {
    color: #FFFFFF;
    padding: 10px;

    margin-bottom: 10px;
}

.coluna p {
    text-align: center;
}

.coluna a {
    color: #FFFFFF;

    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 500;

    text-decoration: none;

    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;

    border-radius: 29px;
}

.other a {
    background: #ff234b;
}

.other a:hover {
    box-shadow: 0px 0px 15px -1px #ff234b;
}

.recomendado a {
    color: #ff234b;
    background: #FFFFFF;
}

.recomendado a:hover {
    box-shadow: 0px 0px 15px -1px #FFFFFF;
}

div.recomendado {
    background: #ff234b;
    box-shadow: 0px 0px 15px -1px #ff234b;
}

div.recomendado:hover {
    box-shadow: 0px 0px 15px -1px #FFFFFF;
}

div.recomendado h3 {
    color: #FFFFFF;
}

div.other {
    box-shadow: 0px 0px 15px -1px #000000;
}

div.other:hover {
    box-shadow: 0px 0px 15px -1px #FFFFFF;
}

@media screen and (max-width: 980px) {
    nav#menu {
        margin-bottom: 0px;
    }

    #princ {
        width: 90%;
    }

    #princ h1 {

        font-size: 40px;

        margin-top: 20px;
    }

    #princ a {
        text-align: center;
    }

    div#infos {
        width: 90%;
    }

    div#infos img {
        width: 70px;
        height: 70px;
    }

    div#pre-coluna {
        display: block;

        width: 80%;
    }

    div.coluna {
        width: 92%;

        margin: auto;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    div.coluna li {
        margin-bottom: 0px;
    }
}


@media screen and (min-width: 980px), (max-width: 1024px) {
    div#pre-coluna {
        width: 80%;
    }
}