@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #151518;
}

nav#menu {
    width: 270px;

    margin: auto;
    margin-top: 15px;
    margin-bottom: 25px;
}

#menu li {
    display: inline-block;

    padding: 10px;
}

#menu a {
    font-family: 'Encode Sans', sans-serif;
    font-size: 18px;

    color: #FFFFFF;
    
    text-decoration: none;

    transform: scale(0.9);
}

#menu a:hover {
    color: #ff234b;

    transform: scale(1);
}

#princ {
    width: 80%;
    margin: auto;

    font-family: 'Encode Sans', sans-serif;

    text-align: left;
}

#princ h1 {
    color: #FFFFFF;

    margin-top: 50px;
    margin-bottom: 10px;

    font-family: 'Encode Sans', sans-serif;
    font-size: 46px;
    font-weight: 600;
}

#princ span {
    color: #ff234b
}

#princ p {
    color: #FFFFFF;

    font-family: 'Encode Sans', sans-serif;

    margin-bottom: 50px;
}

#princ a {
    color: #FFFFFF;

    padding: 12px;
    padding-left: 60px;
    padding-right: 60px;

    font-size: 18px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;

    text-decoration: none;

    border-radius: 29px;
    background-color: #ff234b;
}